<section class="aboutMeSection">
  <article class="displayCenter">
    <h3 class="nameHigh">ABOUT ME</h3>
    <p>
      I'm a Full Stack Developer with a Boot Camp certificate in coding from the University of Toronto and currently enrolled in Software Engineering Technology at Centennial College. I'm passionate about programming and enjoy developing creative solutions to users' problems.
      As a believer in continuous learning, I enjoy learning and experimenting with new technologies. A team player with good communication and problem-solving skills.
    </p>
  </article>
  <article class="displayCenter">
    <h3 class="nameHigh">SKILLS</h3>
    <div class="skillImages">
      <div class="eachSkillImage">
        <img src="./assets/icons/icon_javascript.svg" alt="JavaScript icon" />
      </div>
      <div class="eachSkillImage">
        <img src="./assets/icons/icons8-c-sharp-logo.svg" alt="C sharp icon" />
      </div>
      <div class="eachSkillImage">
        <img src="./assets/icons/icons8-java.svg" alt="Java icon" />
      </div>
      <div class="eachSkillImage">
        <img src="./assets/icons/icon_python.svg" alt="Python icon" />
      </div>
      <div class="eachSkillImage">
        <img src="./assets/icons/icon_react.svg" alt="React icon" />
      </div>
      <div class="eachSkillImage">
        <img src="./assets/icons/icon_html5.svg" alt="HTML5 icon" />
      </div>
      <div class="eachSkillImage">
        <img src="./assets/icons/icon_css3.svg" alt="CSS3 icon" />
      </div>
      <div class="eachSkillImage">
        <img src="./assets/icons/icon_nodejs.svg" alt="Node.js icon" />
      </div>
      <div class="eachSkillImage">
        <img src="./assets/icons/icon_mysql.svg" alt="MySQL icon" />
      </div>
      <div class="eachSkillImage">
        <img src="./assets/icons/icon_mongodb.svg" alt="Mongodb icon" />
      </div>
      <div class="eachSkillImage">
        <img src="./assets/icons/icon_graphql.svg" alt="Graph ql icon" />
      </div>
      <div class="eachSkillImage lighten">
        <img src="./assets/icons/icon_aws.svg" alt="AWS icon" />
      </div>
    </div>
  </article>
</section>