<section class="displayCenter">
  <h3 class="nameHigh">PROJECTS</h3>
  <article>
    <a href="https://floating-cove-91289.herokuapp.com/" target="_blank" class="work">
      <article class="img-preview">
          <img src="./assets/img/smartFix.png" alt="snapshot of Smart Fix website with link"/>
          <div class="img-text">
              <h3>Smart-Fix</h3>
              <p>NodeJS / Handlebars / Express</p>
          </div>
      </article>
    </a>
    <a href="https://uot-project-grp.github.io/project01-calorie-tracker/" target="_blank" class="work">
      <article class="img-preview small-img-preview">
          <img src="./assets/img/CalTracker.png" alt="snapshot of Calorie Tracker website with link"/>
          <div class="img-text">
              <h3>Calorie Counter</h3>
              <p>HTML / CSS / JS / JQuery</p>
          </div>
      </article>
    </a>
    <a href="https://pure-eyrie-01841.herokuapp.com/" target="_blank" class="work">
      <article class="img-preview small-img-preview">
          <img src="./assets/img/theTechBlog.png" alt="snapshot of The Tech Blog website with link"/>
          <div class="img-text">
              <h3>The Tech Blog</h3>
              <p>NodeJS / Handlebars / Express</p>
          </div>
        </article>
    </a>
    <a href="https://tragically-donair-32034.herokuapp.com/" target="_blank" class="work">
      <article class="img-preview small-img-preview">
          <img src="./assets/img/noteTaker.png" alt="snapshot of Note Taker with link"/>
          <div class="img-text">
              <h3>Note Taker</h3>
              <p>NodeJS / Express</p>
          </div>
      </article>
    </a>
  </article>
</section>